body{font-family: "Helvetica Neue", Helvetica,Arial,"Microsoft Yahei UI", "Microsoft Yahei",SimHei,"\5B8B\4F53",SimSun, sans-serif;color:#666;}
/**navigation**/
.header-nav-mar{margin-top: 0;}
/**轮播图**/
#myCarousel{margin-top:50px;}
.carousel-inner img{margin:0 auto;}
/*.carousel-control{font-size: 70px;}*/
/**footer**/
#footer{padding:10px 0px;background:#eee;border-top:1px solid #ddd;}
#footer p{text-align: center;}
.footer_img{width:auto;margin:10px auto;text-align: center;}
.footer_img a{display: inline-block;margin:0px 3px;}