/**jumbotron**/
.jumbotron{margin:50px 0 0 0;background: url(../../images/information/bg.png);color: #fff;padding:50px 0px;}
.jumbotron h2{font-size: 26px;padding:0 0 0 20px;}
.jumbotron h4{font-size: 15px;padding:0 0 0 20px;}

/**about**/
#about{padding:40px 15px;background: #eee;}
#about a{color: #0059B2;}
#about .about{background: #fff;box-shadow: 2px 2px 3px #ccc;}
#about h3{font-size: 20px;color: #333;padding:20px 0;border-bottom: 1px dashed #ddd;margin:0 0 10px 0;}
#about p{line-height: 2;font-size: 13px;}

/**小屏幕 （桌面显示器，大于等于768px）**/
@media (min-width:768px){
#about h3{font-size: 19px;}
#about p{font-size: 14px;}
}
/**中等屏幕 （桌面显示器，大于等于992px）**/
@media (min-width:992px){
#about h3{font-size: 20px;}
#about p{font-size: 15px;}
}
/**大屏幕 （桌面显示器，大于等于1200px）**/
@media (min-width:1200px){
#about h3{font-size: 22px;}
#about p{font-size: 16px;}
}